<a href="https://colab.research.google.com/github/kim-gq/hello-world/blob/master/Copy_of_introduction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Introduction

-   Welcome to "Introduction to Machine Learning"
-   Goals of the course
    -   Learn about some machine learning algorithms
    -   Use python to practically explore these algorithms with some
        simple datasets
    -   If nothing else, the course should provide lots of good coding
        practice!

## Course Information

-   We'll meet every Thursday 3 - 6 pm
-   Short lecture followed by a computer lab
-   Grades for attendance and completing the tasks, as well as a final project
    -   Should be able to finish the tasks in class
-   This week we'll introduce the setup

## Housekeeping

-   Next week is Chuseok, no class
-   The week after I will be in CERN for a meeting, no class
-   So, meet again next on 26 September and really start the course
-   Will need to take mid-semester week and catch up week as regular class weeks

## One slide overview of ML

-   Goal of ML: get the computer to solve problems for us
    -   I.e. we don't code an algorithm specifically for a problem, but write general algorithms by which the computer may "learn" from data
-   Two main types of *supervised* problems, where you want the computer to generalize based on some *training* data, which has the answers or *labels*
    -   Classification: given some data, does it belong to one category or another?
        -   Classify images based on contents of image (this is a dog? a cat?)
        -   Given some detector readings, what was the particle that impinged on the detector (electron? photon? muon?)
    -   Regression: given some data, what was the underlying real variable that caused the data?
        -   Given an image of a person, can you tell how old they are?
        -   Given the raw calorimeter readings, what was the energy of the particle
-   Also, have *unsupervised learning*, where the training data isn't labelled
    -   Does the data tend to clump into categories? How many? What features distinguish the clumps?
-   We will be looking at these questions and seeing some answers people have discovered, but today \ldots

## Computational Setup

-   We will use github classroom and colab
-   Github classroom
    -   *Git* is a version control system
    -   Organized into *repositories*, which keep information about changes made to code
    -   *Github* is a cloud service for storing git repositories
    -   *Github classroom* is a service whereby you can clone your own
        version of my repository for class each week, and I can access and
        mark them
-   Google colab
    -   *Jupyter* is a web interface to (usually) a python repl
    -   Allows writing notes and running code in a *notebook*
    -   Colab is a google service which provides a jupyter environment in the cloud
    -   Can read and save from github repositories after linking to github
    -   (If you want to, you can run jupyter locally instead, talk to me
        if you want to try this setup)

## Today's Tasks

-   Setup a github account (if you don't have one)
-   Join the github classroom and fork this weeks repository
    -   <span class="underline">[https://git.io/ml2019](https://git.io/ml2019)</span> should redirect to the classroom page
-   Link your github account to google colab
-   Open and read this notebook on colab
-   Fill in the tasks on the next page

## Coding Tasks

Complete as much of the following as you can. You don't have to do
everything, only do what you can without having to look anything
up. But **save your work to github so I can see**.

**If you can't figure out how to save, ask!!!!**

We'll do more or less initial python practice based on everyone's
ability.

### Basic Usage

Python commands can be run in a jupyter cell. Type in code in the
cell, then hit  SHIFT+ENTER to run the code. It will output the value of
the last statement in the cell.  Try running the following cell:

In [0]:
1 + 1

2

You've used google's servers to calculate a number with python!

The python runs the input in a persistent interpreter, that means it
remembers after SHIFT+ENTER. See this by running the next two cells:

In [0]:
a = 15

In [0]:
a

15

If you run into the trouble and the interpreter goes into a bad state,
you can reset the interpreter from the runtime menu. This will stop
the current interpreter and start a new one. You will need to rerun
all cells that you need the results from.

You can also add `print` statements to get additional output

In [0]:
print("Hello, world")

1+2+3

Hello, world

6

### A few warmup exercises

Do as many as you can, if you can't do one, then skip it.

Write a cell which prints out "안녕, 세상!"

In [0]:
print("how can I type the Korean?  ")

how can I type the Korean?

Write a cell that prints an approximate numerical value of &pi; (however you wish to get the value is fine)

In [0]:
3.14

3.14

Write a cell which prints the sum of numbers from 1 to 100 inclusive (that is, it prints 1+2+&#x2026;+99+100)

In [0]:
sum(i for i in range(1,101))





#medium method: 
i = 0
result = 0
for i in range(101):
  result += i
result

5050

If we list all the natural numbers below 10 that are multiples of 3 or
5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Find the sum of all the multiples of 3 or 5 below 1000.

In [0]:
i = 0
a = 0
result = 0
for i in range(1,1000):
  if i%3==0 or i%5==0:
    result += i
  
result

233168

Write a function `area(radius)` which calculates the area of a circle
with the given radius. Print out `area(5)`.

In [0]:
import math

def area(radius): 
  return math.pi * radius ** 2


area(5)

78.53981633974483

In the game "fizzbuzz", you count out the numbers starting from 1, but
replace multiples of 3 by "fizz" and multiples of 5 by "buzz" and
multiples of 3 and 5 by "fizzbuzz". Make the cell output *a list* of
the first 50 correct responses in fizzbuzz. E.g. a list of the first
seven responses would be `[1, 2, "fizz", 4, "buzz", "fizz", 7]`

In [0]:
i = 0
list_a=[]
list_b=[]
for i in range (1,50): 
  list_a = 
  if i%3==0:
    list_b = list_b + list_a
    print("list merging it worked")
  elif i%5==0:
    
    print("for 5 ")
list_b

list merging it worked
for 5
list merging it worked
list merging it worked
for 5
list merging it worked
list merging it worked
list merging it worked
for 5
list merging it worked
list merging it worked
for 5
list merging it worked
list merging it worked
list merging it worked
for 5
list merging it worked
list merging it worked
for 5
list merging it worked
list merging it worked
list merging it worked

[]

(To see if we have any programmers here)

In England the currency is made up of pound, £, and pence, p, and there are eight coins in general circulation:

1p, 2p, 5p, 10p, 20p, 50p, £1 (100p) and £2 (200p).

It is possible to make £2 in the following way:

1×£1 + 1×50p + 2×20p + 1×5p + 1×2p + 3×1p

How many different ways can £2 be made using any number of coins?

When you're done, click on "File" and "Save a Copy to Github". It
should transfer and then render the saved copy on github, check to
make sure your code is there, then we're done for today!